
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid green;
    text-align: left;
    padding: 8px;
}

 /*row can be even or odd*/
 tr:nth-child(even) {
    background-color: blueviolet;
 }

